###############################
# Python
###############################
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

###############################
# Dados e arquivos locais
###############################
data/
*.csv
*.xlsx
*.xls
*.json
*.xml
*.txt

###############################
# Logs e temporários
###############################
logs/
*.log
*.tmp
temp/
tmp/
cache/

###############################
# Configurações sensíveis
###############################
.env
config.json
secrets.json
connection_string.txt

###############################
# VS Code
###############################
.vscode/
.history/

###############################
# Sistema operacional
###############################
Thumbs.db
Desktop.ini
~$*
