###############################
# Python
###############################
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

###############################
# Dados
###############################
data/**/*.csv
data/**/*.xlsx
data/**/*.xls
data/**/*.json
data/**/*.xml
data/**/*.txt

###############################
# Logs e temporários
###############################
logs/
*.log
*.tmp
temp/
tmp/
cache/

###############################
# Configurações sensíveis
###############################
.env
config.json
secrets.json
connection_string.txt

###############################
# VS Code
###############################
.vscode/
.history/

###############################
# Sistema operacional
###############################
Thumbs.db
Desktop.ini
~$*
